@import './base.css';

:root {
  --primary-color: #453de1;
  --secondary-color: #615cb4;
  --background-color: #ffffff;
  --text-color: #000000;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "PT Serif", serif;;
}

a,
.blue {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
